{% extends 'user/nav.html' %}
{% block titulo %}Pedidos{% endblock %}
{% block contenido %}

<body>
    <div class="galeria">
        {% for order in orders %}
        <div class="item">
            <ul>
                <p>Número de orden: {{ order.numero_de_orden }}</p>
                <p>Ordenado por: {{ order.ordenado_por.fullname }}</p>
                <p>Fecha: {{ order.fecha_de_orden }}</p>
                <p>Total: ${{ order.monto_total }}</p>
                <form action="{{ url_for('pedidos') }}" method="post">
                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                    <button type="submit" class="btn btn-success">
                        Marcar como entregado
                    </button>
                </form>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}