{% extends './user/nav.html' %}
{% block titulo %}Menu{% endblock %}
{% block contenido %}

<!--Aqui Grid de como mostrar el menu-->
<h1>Agregar Platillo</h1>
<form method="POST">
    <label>Nombre:</label><input type="text" name="name"><br>
    <label>Descripción:</label><textarea name="desc"></textarea><br>
    <label>Precio:</label><input type="number" name="price" step="0.01"><br>
    <label>Imagen (URL):</label><input type="text" name="image"><br>
    <label>Categoría:</label>
    <select name="category_id">
        {% for cat in categories %}
            <option value="{{ cat[0] }}">{{ cat[1] }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Guardar</button>
</form>

<!--Pie de pagina-->
<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h4>Umami</h4>
            <p>Sabores auténticos en cada bocado. Ven y disfruta de la mejor experiencia gastronómica.</p>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4>
            <p><i class="fas fa-map-marker-alt"></i> Calle 123, Ciudad, País</p>
            <p><i class="fas fa-phone"></i> +123 456 7890</p>
            <p><i class="fas fa-envelope"></i> info@umami.com</p>
        </div>
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Facebook</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">X</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Instagram</i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Equipo: No compila</h4>
            <div class="social-icons">
                <p><i class="fas fa-map-marker-alt"></i> Zavalza Covarrubias Edgar Enrique</p>
                <p><i class="fas fa-map-marker-alt"></i> Telles Castro Jose Ricardo</p>
                <p><i class="fas fa-map-marker-alt"></i> Marin Salazar Juan Sebastian</p>
                <p><i class="fas fa-map-marker-alt"></i> Estrada Bustos Miguel Angel</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Umami. Todos los derechos reservados.</p>
    </div>
</footer>
{% endblock %}