{% extends './base.html' %}
{% block titulo %}Menu{% endblock %}
{% block cuerpo %}
<!--Esta es la barra de navegacion superior-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo_empresa.png')}}">
            <span class="d-none d-lg-block" style="color: rgb(255, 255, 255);">UMAMI</span>
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link nav-item d-block d-lg-none" aria-current="page" href="index.html">INICIO</a>
                <a class="nav-link" href="{{ url_for('menu')}}">MENU</a>
                <a class="nav-link" href="tienda.html">PARA LLEVAR</a>
                <a class="nav-link" href="ubicaciones.html">SUCURSALES</a>
                <a class="nav-link" href="nosotros.html">SOBRE NOSOTROS</a>
                <a class="nav-link" href="contacto.html">CONTACTO</a>
            </div>
        </div>
    </div>
    <a class="navbar-brand" href="{{ url_for('perfil') }}" style="padding: 5px; margin-right: 10px;">
        <img src="{{ url_for('static', filename='img/perfil.jpg') }}" class="rounded-circle"
            style="width: 60px; height: 60px;">
        <span class="d-none d-lg-block" style=" color: rgb(255, 255, 255);">{{ current_user.fullname }}</span>
    </a>
</nav>
<!--Esta es la barra de navegacion superior-->

<form method="POST" action="{{ url_for('delete_dish', id=dish.id) }}">
    <button type="submit" onclick="return confirm('¿Estás seguro?')">Eliminar</button>
</form>
<a href="{{ url_for('edit_dish', id=dish.id) }}">Editar</a>

<!--Pie de pagina-->
<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h4>Umami</h4>
            <p>Sabores auténticos en cada bocado. Ven y disfruta de la mejor experiencia gastronómica.</p>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4>
            <p><i class="fas fa-map-marker-alt"></i> Calle 123, Ciudad, País</p>
            <p><i class="fas fa-phone"></i> +123 456 7890</p>
            <p><i class="fas fa-envelope"></i> info@umami.com</p>
        </div>
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Facebook</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">X</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Instagram</i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Equipo: Capibaras.rar</h4>
            <div class="social-icons">
                <p><i class="fas fa-map-marker-alt"></i> Marin Salazar Juan Sebastian</p>
                <p><i class="fas fa-map-marker-alt"></i> Bustamante Castillo Jorge Ezequiel</p>
                <p><i class="fas fa-map-marker-alt"></i> Hernandez Romero Joana Gisel</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Umami. Todos los derechos reservados.</p>
    </div>
</footer>
{% endblock %}