{% extends './user/nav.html' %}
{% block titulo %}Menu{% endblock %}
{% block contenido %}
<h1>Editar Platillo</h1>
<form id="editDishForm" method="POST" enctype="multipart/form-data">
    <div id="formErrors_edit" class="mb-2"></div>
    <label>Nombre:</label><input id="name_edit" type="text" name="name" value="{{ dish[1] }}"><br>
    <label>Descripción:</label><textarea id="desc_edit" name="desc">{{ dish[2] }}</textarea><br>
    <label>Precio:</label><input id="price_edit" type="number" name="price" step="0.01" value="{{ dish[3] }}"><br>
    <label>Imagen (subir nuevo archivo para reemplazar):</label><input id="file_edit" type="file" name="image_file" accept="image/*"><br>
    <img id="preview_edit" alt="Preview" style="max-width:200px; display:none; margin-bottom:8px;"/>
    <label>O Imagen (URL):</label><input id="image_edit" type="text" name="image" value="{{ dish[4] }}"><br>
    <label>Categoría:</label>
    <select name="category_id">
        {% for cat in categories %}
            <option value="{{ cat[0] }}" {% if cat[0] == dish[5] %}selected{% endif %}>{{ cat[1] }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Actualizar</button>
</form>

<!--Pie de pagina-->
<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h4>Umami</h4>
            <p>Sabores auténticos en cada bocado. Ven y disfruta de la mejor experiencia gastronómica.</p>
        </div>
        <div class="footer-section">
            <h4>Contacto</h4>
            <p><i class="fas fa-map-marker-alt"></i> Calle 123, Ciudad, País</p>
            <p><i class="fas fa-phone"></i> +123 456 7890</p>
            <p><i class="fas fa-envelope"></i> info@umami.com</p>
        </div>
        <div class="footer-section">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Facebook</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">X</i></a>
                <a href="https://www.instagram.com/umami.latam/"><i class="fas fa-map-marker-alt">Instagram</i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Equipo: Capibaras.rar</h4>
            <div class="social-icons">
                <p><i class="fas fa-map-marker-alt"></i> Marin Salazar Juan Sebastian</p>
                <p><i class="fas fa-map-marker-alt"></i> Bustamante Castillo Jorge Ezequiel</p>
                <p><i class="fas fa-map-marker-alt"></i> Hernandez Romero Joana Gisel</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Umami. Todos los derechos reservados.</p>
    </div>
</footer>
{% endblock %}