{% extends 'user/nav.html' %}
{% block titulo %}Nosotros{% endblock %}
{% block contenido %}
    <!--Aqui iria un video y mucho texto-->
	
	<div class="titulomenu"><h1>Conocenos</h1></div>
	<div class="gridviewPar">
		<div class="floatright">
			<h2 class="categoria">Nuestros Inicios</h2>
			<div class="griditemm">
				<img src="{{ url_for('static', filename='img/street-food-restaurant-small-restaurant.jpg') }}" alt="restaurante viejo">
			</div>
		</div>
		<p class="text_container">
			Provenientes de una familia japonesa, Umami es la continuacion del profesion que la familia Fujikawa a desempeñado por casi
			de un siglo.
		</p>
	</div>
	<div class="gridviewNon">
		<p class="text_container" style="padding: 10% 0;">
			El señor Fujikawa es el actual dueño y chef principal del establecimineto. Hijo de padres inmigrantes, esta listo para
			compartir el sazon de toda una cultura con el mundo. 
		</p>
		<div class="floatright">
			<h2 class="categoria">Conoce al chef</h2>
			<div class="griditemm">
				<img src="{{ url_for('static', filename='img/Chef_Shota.jpg') }}" alt="supremo lider">
			</div>
		</div>
	</div>
	<div class="gridviewPar">
		<div class="floatright">
			<h2 class="categoria">Todo el mundo puede cocinar</h2>
			<div class="griditemm">
				<img src="{{ url_for('static', filename='img/100225-F-2866R-015.avif') }}" alt="quien ese esta señora?">
			</div>
		</div>
		<p class="text_container" style="padding: 10% 0;">
			La comida nos une a todos, siempre estamos dispuestos a trabajar con quienes esten dispuestas o diespuestos a compartir su 
			pasion con nosotros
		</p>
	</div>
    {% endblock %}